html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    line-height: 28px;
}

.header {
    position:-webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: #c2c2c200;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    line-height: 0px;
    padding: 0 20px;
    margin: 40px auto;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-left: 100px;
    padding: 0px;
    text-decoration: none;
}

.site-nav {
    margin-right: 27px;
}
.site-nav a {
    margin-left: 50px;
    font-size: 18px;
    font: weight 10px;
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.socials-header{
    margin-right: 100px;
}

.socials-header a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 22px;
     color: rgb(68, 68, 68);
}

.moon i {
    color: rgb(255, 153, 0);
    
}

